{# templates/registration/confirmation_email.html.twig #}

{% block subject %}
    Please Confirm your Email
{% endblock %}

{% block body %}
    <p>
        Thank you for registering. Please click the following link to verify your email address:
      
    </p>
{% endblock %}